{% extends "todo_app/base.html" %}

{% block title %}
    ABOUT PAGE
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center>TO-DO LIST</center></h1>
    <p class="lead"><center>This is To-Do List for Python Django Web Development</center></p>
    <p class="lead"><center>You can use this To-Do List for you Django Projects</center></p>
    <p class="lead"><center>Just follow the list</center></p>
    <p class="lead"><center>If you follow this list correctly, You will not make mistakes</center></p>
    <p class="lead"><center>You can update anything</center></p>
      <div class="text-center">
          <a class = "btn btn-outline-success" href = "{% url 'create' %}" role = "button" >Create To-Do List</a>
      </div>
  </div>
</div>
{% endblock content %}